################################################################################
# Debugging options
# With these options you can configure the level and destination of debug logging
# It is NOT recommended to use file debugging on the Raspberry Pi SD card for extended periods of time
[Debug]
# Should console loggin be enabled {True, Flase}
# defualt is False
console_debug = False

# Log Level for the console output (overiden by the --log command line option if given)
# options are {DEBUG, INFO, WARNING, ERROR, CRITICAL}
# defualt is DEBUG
console_level = DEBUG

# Should console loggin be enabled {True, Flase}
# defualt is False
file_debug = False

# Which file should we log to (file path)
# defualt is ./LLAPServer.log
log_file = ./LLAPServer.log

# Log Level for the file output (overiden by the --log command line option if given)
# options are {DEBUG, INFO, WARNING, ERROR, CRITICAL}
# default is INFO
file_level = INFO

################################################################################
# Serial port options
[Serial]
# Network is the name used in the JSON packet it identify the interface which mesage are going to or coming from
# defualt is Serial
network = Serial

# baud rate for the connected radio
# default is 9600 (other options 115200, 57600 etc)
baudrate = 9600

# Serial port on which your radio can be found
# For Linux this will be a path like /dev/ttyAMA0
# For Windows this will be the name eg. COM1
# For Mac OSX this will be a path like /dev/tty.usbmodem000001
# default is /dev/ttyAMA0 (Hardware UART on the Raspberry Pi)
#port = /dev/ttyAMA0
port = /dev/tty.usbserial-A600L03S

################################################################################
# UDP port options
[UDP]
# Port the server sends JSON out on
# default is 50140
send_port = 50140

# Port the server listens to for incoming JSON
# default is 50141
listen_port = 50141

################################################################################
# LLAP Config Request settings
[LCR]
# Enable processing of 'LCR' type json messages, if set to 'False' LCR messages will be ignored by the server
# {True, False}
# default is True
lcr_enable = True

# Time out in seconds for a LCR is one not specfied in the JSON
# default is 120 (120seconds/2mins)
timeout = 120

# Number of time to ask a single toQuery command before giving up
# default is 3
single_query_retry_count = 3
